# Virsim Configuration File
version "2.2.0"

# Files Open:
#   Designator  Sources  Filename
#   ----------  -------  --------
#       V1         y     test_DW_ahb.vpd

define exprgroup EGroup0;

define linkwindow A
	time 4530000 "10 ps",
	exprgroup "EGroup0";

define group "AutoGroup0"
	verticalposition 1,
	add "V1" "test_DW_ahb.U_ahb.hresetn" "strength" 1 ,
	add "V1" "test_DW_ahb.hclk" "strength" 1 ,
	add "V1" "test_DW_ahb.U_ahb.haddr" "hex" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hwrite" "strength" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hmaster" "unsigned" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hmastlock" "strength" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hburst" "hex" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hprot" "hex" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hsize" "hex" 1 ,
	add "V1" "test_DW_ahb.U_ahb.htrans" "hex" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hready" "strength" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hresp" "hex" 1 ,
	add " " "  " "blank" 1 ,
	add "V1" "test_DW_ahb.U_ahb.bus_hbusreq" "hex" 1  "P" 1,
	add "V1" "test_DW_ahb.U_ahb.bus_hbusreq[2]" "strength" 1  "C" 1,
	add "V1" "test_DW_ahb.U_ahb.bus_hbusreq[1]" "strength" 1  "C" 1,
	add "V1" "test_DW_ahb.U_ahb.bus_hbusreq[0]" "strength" 1  "C" 1,
	add "V1" "test_DW_ahb.U_ahb.bus_hlock" "hex" 1 ,
	add "V1" "test_DW_ahb.U_ahb.bus_hgrant" "hex" 1  "P" 2,
	add "V1" "test_DW_ahb.U_ahb.bus_hgrant[2]" "strength" 1  "C" 2,
	add "V1" "test_DW_ahb.U_ahb.bus_hgrant[1]" "strength" 1  "C" 2,
	add "V1" "test_DW_ahb.U_ahb.bus_hgrant[0]" "strength" 1  "C" 2,
	add "V1" "test_DW_ahb.U_ahb.ahbarbint" "strength" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hburst_m2" "hex" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hwdata" "hex" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hsel_s0" "strength" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hsel_s1" "strength" 1 ,
	add "V1" "test_DW_ahb.U_ahb.haddr" "hex" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hmaster" "hex" 1 ,
	add "V1" "test_DW_ahb.U_ahb.htrans" "hex" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hwrite" "strength" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hsel_s0" "strength" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hsel_s1" "strength" 1 ,
	add "V1" "test_DW_ahb.U_ahb.hsel_s2" "strength" 1 ;

define wave
	xposition 320,
	yposition 99,
	width 927,
	height 709,
	linkwindow A,
	displayinfo 4259212 "10 ps" tpp 634 0,
	group "AutoGroup0",
	pane1 172,
	pane2 74;

define hierarchy
	xposition 3,
	yposition 91,
	width 306,
	height 709,
	designator "V1",
	layout "default",
	topscope "<root>",
	pane1 170,
	focusscope "test_DW_ahb",
	pane2 82,
	locate "scopes",
	find "selected",
	findtext "*",
	pane3 208,
	signals on,
	ports on,
	constants on,
	variables on,
	generics on,
	filtertext "h*",
	signalscope "test_DW_ahb.U_ahb";

